
@font-face {font-family: "iconfont";
  src: url('../iconfont/iconfont.eot?t=1499847044569'); /* IE9*/
  src: url('../iconfont/iconfont.eot?t=1499847044569#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../iconfont/iconfont.woff?t=1499847044569') format('woff'), /* chrome, firefox */
  url('../iconfont/iconfont.ttf?t=1499847044569') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../iconfont/iconfont.svg?t=1499847044569#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiangzuo:before { content: "\e66c"; }

.icon-wujiaoxing:before { content: "\e616"; }

.icon-share:before { content: "\e713"; }

.icon-wenhao:before { content: "\e61e"; }

.icon-xiangyou:before { content: "\e61a"; }

.icon-xiangshang:before { content: "\e632"; }

.icon-xiangxia:before { content: "\e62d"; }

.icon-shangsanjiao:before { content: "\e604"; }

.icon-xiasanjiao:before { content: "\e714"; }
